<h1>Hello, world</h1>

<%= link_to 'My Blogs', controller: 'articles' %>
<!-- <%= link_to 'My Blogs', articles_path %> Why not just go to 'articles_path'?--> 

<%= link_to 'New Article', new_article_path %>

